@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

/* 
Cor de Fundo: #E0E0E0
Cor do Titulo: #C13B00
cor do conteudo: #592608
*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  max-width: 1400px;
  padding: 0 20px;
  color: #592608;
  font-family: "Inter", sans-serif;
}
